.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  margin-bottom: 20px;
}

.input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  padding: 15px;
}

.button {
  width: 80px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(37, 147, 255);
  color: white;
}